.mainbody {
  height: 754px;
  background-color: #fff;
  position: relative;
  padding: 0 30px;
  border: 1px solid #dadbe4;
}
.entry-record-title {
  position: absolute;
  left: 30px;
  top: 33px;
  color: #515a6e;
}
.entry-record-main {
  width: 100%;
  height: 645px;
  top: 76px;
  position: relative;
  box-sizing: border-box;
}
.entry-record-main .table-sort {
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.entry-record-main .table-sort .loc-sort,
.entry-record-main .table-sort .pe-sort,
.entry-record-main .table-sort .time-sort {
  float: left;
  width: 253px;
  height: 32px;
  border-right: none;
  margin-right: 12px;
}
.entry-record-main .table-sort .loc-sort > li,
.entry-record-main .table-sort .pe-sort > li,
.entry-record-main .table-sort .time-sort > li {
  width: 84px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #cfd5e3;
  cursor: pointer;
  border-right: none;
}
.entry-record-main .table-sort .loc-sort > li:last-child,
.entry-record-main .table-sort .pe-sort > li:last-child,
.entry-record-main .table-sort .time-sort > li:last-child {
  border-right: 1px solid #cfd5e3;
}
.entry-record-main .table-sort .loc-sort > li:hover,
.entry-record-main .table-sort .pe-sort > li:hover,
.entry-record-main .table-sort .time-sort > li:hover {
  border: 1px solid #4f7efb;
  color: #4f7efb;
}
.entry-record-main .table-sort .loc-sort > li.currentSort,
.entry-record-main .table-sort .pe-sort > li.currentSort,
.entry-record-main .table-sort .time-sort > li.currentSort {
  border: 1px solid #4f7efb;
  color: #4f7efb;
}
.entry-record-main .table-sort .time-sort {
  width: 243px;
  height: 32px;
  float: left;
  border-right: none;
}
.entry-record-main .table-sort .time-sort > li {
  width: 56px;
}
.entry-record-main .table-sort .time-sort > li:last-child {
  width: 74px;
}
.entry-record-main .table-sort > .record-search {
  width: 15.6%;
  height: 32px;
  position: relative;
  float: right;
}
.entry-record-main .table-sort > .record-search input {
  width: 100%;
  height: 32px;
  padding-left: 2.5%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #cfd5e3;
  color: #bbbec7;
}
.entry-record-main .table-sort > .record-search .search-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 2.5%;
  top: 7px;
  background: url('../../../assets/images/bodycheck/btn_输入框搜索.png');
}
.entry-record-main .table-sort > button {
  width: 4%;
  height: 32px;
  background-color: #fff;
  outline: none;
  border: 1px solid #cfd5e3;
  float: right;
  margin-left: 10px;
}
.entry-record-main .entry-record-table {
  border: 1px solid #cfd5e3;
  width: 100%;
  height: 597px;
  overflow: hidden;
  position: relative;
}
.entry-record-main .entry-record-table .el-table .cell > a {
  color: #4f7efb;
  margin-right: 5px;
}
.entry-record-main .entry-record-table .el-table .cell > a:last-child {
  margin-right: 0;
}
.entry-record-main .table-pagenation {
  height: 30px;
  display: block;
  position: absolute;
  right: 2%;
  bottom: 14px;
}
@media screen and (max-width: 1440px) {
}
