.header {
  background: linear-gradient(to right, #536cf5, #507ffc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#536cf5, endColorstr=#507ffc);
}

.headnav {
  background: linear-gradient(to right, #293797, #3745b1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#293797, endColorstr=#3745b1);
}

.headnav .nav-list>li>a:hover {
  background-color: #3e53d3;
}

.headnav .nav-list>li.currentHeadNav>a {
  background-color: #3e53d3;
}


.ban_show .ban_aside {
  background-color: #242839;
}

.ban_show .ban_aside .aside_menu>li a:hover {
  background-color: #373b4d !important;
  border-left: 4px solid #4a75ff !important;
}

.ban_show .ban_aside .aside_menu>li.currentAsideMenu a {
  background-color: #373b4d !important;
  border-left: 4px solid #4a75ff !important;
}
