<div>
  <div class="agreement-box" id="todopro-scroll">
    <div class="todopro-page" id="todopro-content">
      <div class="todopro-timelist">
        <ul class="timelist">
          <li class="first">
            <div class="time-step"></div>
            <span class="time">{{currentTime | formatDate}}</span>
          </li>
          <li v-for="(activity, index) in activities" :key="index">
            <div class="time-step">{{activities.length - index}}</div>
            <p>
              <span class="name">{{activity.name}}</span>
              <span>{{activity.timestamp}}</span>
            </p>
          </li>
          <!-- <li>
          <div class="time-step">4</div>
          <span class="name">龚勇</span>
          <span>13:22</span>
        </li>
        <li>
          <div class="time-step">3</div>
          <span class="name">龚勇</span>
          <span>10:15</span>
        </li>
        <li>
          <div class="time-step">2</div>
          <span class="name">龚勇</span>
          <span>09:32</span>
        </li>
        <li>
          <div class="time-step">1</div>
          <span class="name">龚勇</span>
          <span>08:07</span>
        </li>-->
        </ul>

      </div>
      <div class="todopro-user">
        <ul class="user-detailpro">
          <li v-for="(activity, index) in activities" :key="index">
            <!-- 人员信息 -->
            <div class="userInfo">
              <div class="userImg">
                <img src="../../assets/images/todo_process/step_默认头像.png" alt>
              </div>
              <div class="userDetail">
                <p>{{activity.name}}</p>
                <span>{{activity.number}}</span>
              </div>
              <div class="detailInfo">
                <img src="../../assets/images/todo_process/step_人员信息.png" alt>
              </div>
            </div>
            <!-- 流程列表 -->
            <div class="userPro">
              <ul>
                <li v-for="(item, index) in activity.process" :class="{proDone : item.done=='true'}" :key="index" @click="toOtherPro(index)">
                  <a href="javascript:void(0);">
                    <div class="right">
                      <span></span>
                    </div>
                    <div class="left">
                      <div></div>
                      <p>{{item.proName}}</p>
                    </div>
                  </a>
                </li>
                <!-- <li>
                <a href="#">
                  <div class="right">
                    <span></span>
                  </div>
                  <div class="left">
                    <div></div>
                    <p>人身检查</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="right">
                    <span></span>
                  </div>
                  <div class="left">
                    <div></div>
                    <p>随身财物</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="right">
                    <span></span>
                  </div>
                  <div class="left">
                    <div></div>
                    <p>信息采集</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="right">
                    <span></span>
                  </div>
                  <div class="left">
                    <div></div>
                    <p>吸毒检测</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="right">
                    <span></span>
                  </div>
                  <div class="left">
                    <div></div>
                    <p>侯问管理</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="right">
                    <span></span>
                  </div>
                  <div class="left">
                    <div></div>
                    <p>财物返还</p>
                  </div>
                </a>
              </li>-->
                <!-- <li>
                <a href="#">
                  <div class="endTop">
                    <img src="../../assets/images/todo_process/step_临时出区.png" alt>
                    <p>临时出区</p>
                  </div>
                </a>
                <a href="#">
                  <div class="endBottom">
                    <img src="../../assets/images/todo_process/step_最终出区.png" alt>
                    <p>最终出区</p>
                  </div>
                </a>
              </li>-->
                <!-- <li>
                <a href="#">
                  <div class="right">
                    <span></span>
                  </div>
                  <div class="left">
                    <div></div>
                    <p>临时出区</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="right">
                    <span></span>
                  </div>
                  <div class="left">
                    <div></div>
                    <p>最终出区</p>
                  </div>
                </a>
              </li> -->
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 滚动条 -->
    <div id="todopro-scroll-bar">
      <div id="todopro-bar"></div>
  </div>
  </div>
</div>
