<div id="detectCatch">
  <el-upload action="https://jsonplaceholder.typicode.com/posts/" list-type="picture-card" :show-file-list="false"
    ref="upload" :on-success="handleAvatarSuccess" :on-preview="handlePreview"
    :on-remove="handleRemove">
    <img v-if="imageUrl" :src="imageUrl" class="avatar">
  </el-upload>
  <div class="upload-btn">
    <div class="sta-show"></div>
    <div class="hover-show">
      <div @click.self="catchPhoto">抓拍</div>
      <div class="avatar-uploader-icon" slot="trigger" @click.self="submitUpload">上传</div>
    </div>
  </div>
  <div class="delete-img" @click.self="deleteUploadImg('#detectCatch')"></div>
</div>
