<div class="mainbody">
  <common-step></common-step>
  <p class="info-title">人身检查</p>
  <!-- 滚动条父盒子 -->
  <div class="body-checkinfo-agreement-box" id="body-checkinfo-scroll">
    <!-- 滚动内容 -->
    <div id="body-checkinfo-content">
      <div class="info-main">
        <form action="" :model="pinfo" :rules="rules" ref="pinfo" class="person-info">
          <div class="p-first-line">
            <span class="pname">人员姓名</span>
            <input type="text" id="pname" v-model="pinfo.name" disabled>
            <span class="pnumber">腕带编号</span>
            <input type="text" id="pnumber" v-model="pinfo.pnumber" disabled>
          </div>
          <div class="sep-line"></div>
          <div class="p-second-line">
            <span class="insperson">
              <span class="info-tip">*</span>检查人员
            </span>
            <select v-model="pinfo.insperson">
              <option value='' disabled selected style='display:none;'>请选择</option>
              <option value='0'>张三</option>
              <option value='1'>李四</option>
            </select>
            <span class="pdescription">
              <span class="info-tip">*</span>自述症状
            </span>
            <div class="placeholder-box-right">
              <input type="text" id="pdescription" v-model="pinfo.pdescription" value="请输入" placeholder="请输入">
            </div>
          </div>
          <div class="sep-line"></div>
          <div class="pre-re-box-father">
            <span class="presult">检查情况</span>
            <div class="re-box">
              <div class="re-box-left">
                <div class="img-left-box">
                  <div class="pimg-box-l" @click="pointsCreat($event)">
                  </div>
                </div>
                <div class="img-sep-box">
                  点击人形区域添加检查点
                </div>
                <div class="img-right-box">
                  <div class="pimg-box-r" @click="pointsCreat($event)">
                  </div>
                </div>
                <!-- 小圆点 -->
                <div :class="{'cre-point':true, 'current':item.id==currentPoint}" v-for="(item,index) in pointsArr"
                  :style="{left:item.left, top:item.top}">
                  {{index+1}}
                </div>
              </div>
              <div class="re-box-sepline"></div>
              <div class="re-box-right">
                <ul>
                  <li v-for="(item,index) in pointsArr" :key="item.id">
                    <input :id="item.id" type="radio" name="tab" :checked="item.id==currentPoint">
                    <label :for="item.id" @click="listCheck(item.id)">检查{{index+1}}
                      <span class="del-inspect" @click.self="listDelete($event, item.id)">×</span>
                    </label>
                    <!-- 内容框 -->
                    <div class="content">
                      <span class="c-txt-ex">文字说明</span>
                      <input type="text" placeholder="请输入">
                      <br>
                      <span class="c-img-re">相关图片</span>
                      <div>
                        <div id="showImgbox">
                          <el-upload action="https://jsonplaceholder.typicode.com/posts/" list-type="picture-card"
                            :show-file-list="false" ref="upload" :on-success="handleAvatarSuccess">
                            <img v-if="imageUrl" :src="imageUrl" class="avatar">
                            <div class="upload-btn">
                              <div class="sta-show"></div>
                              <div class="hover-show">
                                <div>抓拍</div>
                                <div class="avatar-uploader-icon">上传</div>
                              </div>
                            </div>
                          </el-upload>
                          <div class="delete-img" @click.self="deleteUploadImg('#showImgbox')"></div>
                        </div>
                        <div id="showImgbox1">
                          <el-upload action="https://jsonplaceholder.typicode.com/posts/" list-type="picture-card"
                            :show-file-list="false" ref="upload" :on-success="handleAvatarSuccess1">
                            <img v-if="imageUrl1" :src="imageUrl1" class="avatar">
                            <div class="upload-btn">
                              <div class="sta-show"></div>
                              <div class="hover-show">
                                <div>抓拍</div>
                                <div class="avatar-uploader-icon">上传</div>
                              </div>
                            </div>
                          </el-upload>
                          <div class="delete-img" @click.self="deleteUploadImg('#showImgbox1')"></div>
                        </div>
                        <div id="showImgbox2">
                          <el-upload action="https://jsonplaceholder.typicode.com/posts/" list-type="picture-card"
                            :show-file-list="false" ref="upload" :on-success="handleAvatarSuccess2">
                            <img v-if="imageUrl2" :src="imageUrl2" class="avatar">
                            <div class="upload-btn">
                              <div class="sta-show"></div>
                              <div class="hover-show">
                                <div>抓拍</div>
                                <div class="avatar-uploader-icon">上传</div>
                              </div>
                            </div>
                          </el-upload>
                          <div class="delete-img" @click.self="deleteUploadImg('#showImgbox2')"></div>
                        </div>
                        <div id="showImgbox3">
                          <el-upload action="https://jsonplaceholder.typicode.com/posts/" list-type="picture-card"
                            :show-file-list="false" ref="upload" :on-success="handleAvatarSuccess3">
                            <img v-if="imageUrl3" :src="imageUrl3" class="avatar">
                            <div class="upload-btn">
                              <div class="sta-show"></div>
                              <div class="hover-show">
                                <div>抓拍</div>
                                <div class="avatar-uploader-icon">上传</div>
                              </div>
                            </div>
                          </el-upload>
                          <div class="delete-img" @click.self="deleteUploadImg('#showImgbox3')"></div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- <li>
                  <input id="tab2" type="radio" name="tab">
                  <label for="tab2">检查2<span class="del-inspect">×</span></label>
                  <div class="content">选项二内容</div>
                </li>
                <li>
                  <input id="tab3" type="radio" name="tab">
                  <label for="tab3">检查3<span class="del-inspect">×</span></label>
                  <div class="content">选项三内容</div>
                </li>
                <li>
                  <input id="tab4" type="radio" name="tab">
                  <label for="tab4">检查4<span class="del-inspect">×</span></label>
                  <div class="content">选项四内容</div>
                </li>
                <li>
                  <input id="tab5" type="radio" name="tab">
                  <label for="tab5">检查5<span class="del-inspect">×</span></label>
                  <div class="content">选项五内容</div>
                </li> -->
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="sign-main">
        <div class="sign-first-line">
          <span class="first-box-txt"><span class="info-tip">*</span>监 护 人</span>
          <!-- <div class="sign-main-left sign-main-left-first"> -->
          <div class="sign-main-img sign-main-left-first">
            <div class="sign-img-sign"
              @click="clickShow('.sign-main-left-first .model-box-sign','.sign-main-left-first .model-overlay-sign')"
              @dblclick="clickHide('.sign-main-left-first .model-box-sign','.sign-main-left-first .model-overlay-sign')">
              <p>签名</p>
              <div>手写签名</div>
              <!--模态框盒子-->
              <div class="model-box-sign" id="mymodel-sign">
                <img src="../../../assets/images/bodycheck/ind_签名.png" alt="">
              </div>
              <div class="model-overlay-sign"></div>
            </div>
            <div class="sign-img-finger"
              @click="clickShow('.sign-main-left-first .model-box-finger','.sign-main-left-first .model-overlay-finger')"
              @dblclick="clickHide('.sign-main-left-first .model-box-finger','.sign-main-left-first .model-overlay-finger')">
              <p>指纹</p>
              <div>识别</div>
              <!--模态框盒子-->
              <div class="model-box-finger" id="mymodel-finger">
                <img src="../../../assets/images/bodycheck/ind_指纹.png" alt="">
              </div>
              <div class="model-overlay-finger"></div>
            </div>
          </div>
          <!-- </div> -->
          <span class="second-box-txt"><span class="info-tip">*</span>见 证 人</span>
          <!-- <div class="sign-main-left sign-main-left-second"> -->
          <div class="sign-main-img sign-main-left-second">
            <div class="sign-img-sign"
              @click="clickShow('.sign-main-left-second .model-box-sign','.sign-main-left-second .model-overlay-sign')"
              @dblclick="clickHide('.sign-main-left-second .model-box-sign','.sign-main-left-second .model-overlay-sign')">
              <p>签名</p>
              <div>手写签名</div>
              <!--模态框盒子-->
              <div class="model-box-sign" id="mymodel-sign">
                <img src="../../../assets/images/bodycheck/ind_签名.png" alt="">
              </div>
              <div class="model-overlay-sign"></div>
            </div>
            <div class="sign-img-finger"
              @click="clickShow('.sign-main-left-second .model-box-finger','.sign-main-left-second .model-overlay-finger')"
              @dblclick="clickHide('.sign-main-left-second .model-box-finger','.sign-main-left-second .model-overlay-finger')">
              <p>指纹</p>
              <div>识别</div>
              <!--模态框盒子-->
              <div class="model-box-finger" id="mymodel-finger">
                <img src="../../../assets/images/bodycheck/ind_指纹.png" alt="">
              </div>
              <div class="model-overlay-finger"></div>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <!-- 第二行 -->
        <div class="sign-second-line">
          <span class="first-box-txt"><span class="info-tip">*</span>检 查 人</span>
          <div class="sign-main-img sign-main-left-third">
            <div class="sign-img-sign"
              @click="clickShow('.sign-main-left-third .model-box-sign','.sign-main-left-third .model-overlay-sign')"
              @dblclick="clickHide('.sign-main-left-third .model-box-sign','.sign-main-left-third .model-overlay-sign')">
              <p>签名</p>
              <div>手写签名</div>
              <!--模态框盒子-->
              <div class="model-box-sign" id="mymodel-sign">
                <img src="../../../assets/images/bodycheck/ind_签名.png" alt="">
              </div>
              <div class="model-overlay-sign"></div>
            </div>
            <div class="sign-img-finger"
              @click="clickShow('.sign-main-left-third .model-box-finger','.sign-main-left-third .model-overlay-finger')"
              @dblclick="clickHide('.sign-main-left-third .model-box-finger','.sign-main-left-third .model-overlay-finger')">
              <p>指纹</p>
              <div>识别</div>
              <!--模态框盒子-->
              <div class="model-box-finger" id="mymodel-finger">
                <img src="../../../assets/images/bodycheck/ind_指纹.png" alt="">
              </div>
              <div class="model-overlay-finger"></div>
            </div>
          </div>
        </div>
        <!-- <span><span>*</span>检 查 人</span>
        <div class="sign-main-img sign-main-left-third">
          <div class="sign-main-img">
            <div class="sign-img-sign"
              @click="clickShow('.sign-main-left-third .model-box-sign','.sign-main-left-third .model-overlay-sign')"
              @dblclick="clickHide('.sign-main-left-third .model-box-sign','.sign-main-left-third .model-overlay-sign')">
              <p>签名</p>
              <div>手写签名</div> -->
        <!--模态框盒子-->
        <!-- <div class="model-box-sign">
                <img src="../../../assets/images/bodycheck/ind_签名.png" alt="">
              </div>
              <div class="model-overlay-sign"></div>
            </div>
          </div>
        </div> -->
        <!-- </div> -->
      </div>
    </div>
    <!-- 滚动条 -->
    <div id="body-checkinfo-scroll-bar">
      <div id="body-checkinfo-bar"></div>
    </div>
  </div>
  <div class="info-end">
    <button class="btn-ensure" @click="$router.push('/check')">提交</button>
    <button class="btn-reset" @click="$router.back(-1)">取消</button>
  </div>
  <div class="info-end-tips">
    <span>*</span>为必填项
  </div>
</div>
