<div class="checkin-container">
    <p>
      <span class="checkin-head">信息采集</span>
      <span>请扫描或手动输入腕带号，也可以通过照片定位人员</span>
    </p>
    <div class="checkin-main">
      <div class="main-content">
        <div class="checkin-left-total">
          <div class="checkin-left">
            <div class="left-head">
              <p>方式1 扫描腕带</p>
              <div>
                <div class="current-style"></div>
                <div></div>
              </div>
            </div>
  
            <div class="left-box" @click="clickShow" @dblclick="clickHide">
              <p>请把腕带放在读卡器上</p>
              <div class="model-box" id="mymodel">
                <button type="button" class="model-close">&times;</button>
                <img src="../../../assets/images/bodycheck/ind_腕带扫描.png" alt>
                <div class="model-footer">
                  <button type="button" class="model-close model-btn-close">关闭</button>
                </div>
              </div>
              <div class="model-overlay"></div>
            </div>
            <div class="left-footer">
              <span>腕带编号</span>
              <div>
                <input type="text" placeholder="请输入">
              </div>
            </div>
          </div>
          <div class="sep-line"></div>
        </div>
        <div class="checkin-right">
          <div class="left-head">
            <p>方式2 根据照片选择人员</p>
            <div>
              <div></div>
              <div class="current-style"></div>
            </div>
          </div>
          <div class="right-box checkin-agreement-box" id="checkin-scroll">
            <ul class="p-list" id="checkin-content">
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/bodycheck/ind_头像身份证.png" alt="">
                  <p>张国强</p>
                </a>
                <div class="p-info">
                  <p><span class="pinfo-left">人员姓名</span><span>张国强</span></p>
                  <p><span class="pinfo-left">身份证号</span><span>310104199901027554</span></p>
                  <p><span class="pinfo-left">案卷名称</span><span>沪000000012211</span></p>
                  <p><span class="pinfo-left">案卷编号</span><span>123456</span></p>
                  <p><span class="pinfo-left">主办民警</span><span>张三</span></p>
                  <p><span class="pinfo-left">协办民警</span><span>李四</span></p>
                </div>
              </li>
            </ul>
            <!-- 滚动条 -->
            <div id="checkin-scroll-bar">
              <div id="checkin-bar"></div>
            </div>
          </div>
          <div class="right-end">
            <!--  @click="$router.push('/info')" -->
            <button class="btn-ensure" @click="$router.push('/infod')">确定</button>
            <button class="btn-reset" @click="$router.back(-1)">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  